<article class="post">
    <header>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post-date text-muted">
            <span class="glyphicon glyphicon-calendar"></span>
            <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
                {{ .Date.Format .Site.Params.DateForm }} - {{ .ReadingTime }}M TO READ
            </time>
        </div>
    </header>
    <div class="post-content">
        {{ .Summary }}
    </div>
    {{ if .Truncated }}
    <footer class="read-more-link">
        <a href="{{ .Permalink }}" class="btn btn-default">Read More...</a>
    </footer>
    {{ end }}
</article>
<hr>
