<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
        <h2>Topics menu</h2>
        <div class="row">
            <ul class="list-inline menu">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
                <a href="#" class="item">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                <ul class="sm list-unstyled" role="menu">
                    {{ range .Children }}
                    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }}</a></li>
                    {{ end }}
                </ul>
                {{ else }}
                <li>
                <a class="" href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                {{ end }}
                </li>
                {{ end }}
                {{ if isset .Site.Params "Facebook" }}
                <li>
                    <a href="https://www.facebook.com/{{ .Site.Params.Facebook }}" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        Facebook</a>
                </li>
                {{ end }}
                {{ if isset .Site.Params "Twitter" }}
                <li>
                    <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">
                        <i class="fa fa-twitter-square"></i>
                        Twitter</a>
                </li>
                {{ end }}
                {{ if isset .Site.Params "Github" }}
                <li>
                    <a href="https://github.com/{{ .Site.Params.Github }}" target="_blank">
                        <i class="fa fa-github-square"></i>
                        GitHub
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
