<div id="wb-bnr" class="container">
    {{ partial "components/langswitcher.html" . }}
    <div class="row">
        <div class="brand col-xs-8 col-sm-9 col-md-6">
            <a href="{{ .Site.BaseURL }}">
                <object type="image/svg+xml" tabindex="-1" data="{{ .Site.BaseURL }}/lib/{{ .Site.Params.Theme }}/assets/sig-blk-en.svg"></object>
                <span class="wb-inv"> Government of Canada</span>
            </a>
        </div>
        <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
            <h2>Search and menus</h2>
            <ul class="list-inline text-right chvrn">
                <li>
                    <a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button">
                    <span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list">
                        <span class="wb-inv">Search and menus</span>
                        </span>
                    </span>
                    </a>
                </li>
            </ul>
            <div id="mb-pnl"></div>
        </section>
        <section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
            <h2>Search</h2>
            <form action="https://google.ca/search" method="get" name="search" role="search" class="form-inline">
                <div class="form-group">
                    <label for="wb-srch-q" class="wb-inv">Search website</label>
                    <input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search {{ .Site.Title }}">
                    <input type="hidden" name="q" value="site:{{ .Site.Params.Search }} OR site:github.com/{{ .Site.Params.Github }}">
                </div>
                <div class="form-group submit">
                    <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
                        <span class="glyphicon-search glyphicon"></span>
                        <span class="wb-inv">Search</span>
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>
